name: "Run fedora-review"

on:
  push:
    branches:
      - main

jobs:
  push:
    runs-on: ubuntu-latest
    container:
      image: fedora:43

      # https://pagure.io/FedoraReview/issue/541
      options: --privileged

    steps:
      - name: Clone the repository
        uses: actions/checkout@v6

      - name: Run local fedora-review action
        uses: frostyx/fedora-review-ci/.forgejo/actions/fedora-review@main
        with:
          # Ideally, we want the package name to be automatically recognized
          # from the repository name and enable overrides only for those we
          # need them.
          spec: light.spec
          name: light
